<section>
    <div class="row">
        <label class="label col col-4">Name</label>
        <label class="label col col-8"><%=m.name %>
        </label>
    </div>
</section>
<section>
    <div class="row">
        <label class="label col col-4">Address</label>
        <label class="label col col-8"><%=m.address %>
        </label>
    </div>
</section>
<section>
    <div class="row">
        <label class="label col col-4">Pincode</label>
        <label class="label col col-8"><%=m.pincode %>
        </label>
    </div>
</section>
<section>
    <div class="row">
        <label class="label col col-4">Mobile</label>
        <label class="label col col-8"><%=m.mobile %>
        </label>
    </div>
</section>
<section>
    <div class="row">
        <label class="label col col-4">Avalibility</label>
        <label class="label col col-8"><%=m.avalibility %>
        </label>
    </div>
</section>