<article class="module width_full">
	<div class="breadcrumbs_container">
		<article class="breadcrumbs"><%= link_to "Dashboard", welcome_admins_path%>
			<div class="breadcrumb_divider"></div>
			 <a class="current">Color Listing</a>
		</article>
	</div>
	<header>
		<ul class="tabs">
   			<li><a href="<%=new_admin_color_path(current_user.admin)%>">Add Color</a></li>	
		</ul>
		</header>
	<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th></th> 
    				<th>Name</th> 
    				<th>Code</th>    				
    				<th>Active</th>
    				<th>Action</th>
				</tr> 
			</thead> 
			<tbody>
				<%@colors.each do |color|%>
				<tr> 
   					<td><input type="checkbox"></td> 
    				<td><%= color.name %></td> 
    				<td><%= color.code %></td>    				
    				<td><%= image_tag("right_circle.png") if color.isactive%>
    					<%= image_tag("wrong.png") unless color.isactive%>
    				</td>
    				<td>
    					<%=link_to image_tag("icn_edit.png"), edit_admin_color_path(current_user.admin, color.id)%>
    					<%=link_to image_tag("icn_trash.png"), admin_colors_path(current_user.admin, color.id),method: :delete%>
				</tr>
				<%end unless @colors.blank?%>
				
			</tbody> 
			</table>
</artical>