
<article class="module width_full">
	<% @product.errors.full_messages.each do |e|%>
		<%=e%>
	<% end unless @product.errors.blank?%>
	<div class="breadcrumbs_container">
		<article class="breadcrumbs"><%= link_to "Product Listing", products_sellers_path(current_user.seller)%>
			<div class="breadcrumb_divider"></div>
			 <a class="current">New</a>
		</article>
	</div>
	<!-- <header> Product.group_by_day(:created_at, format: "%d %b %Y").count</header> -->
	<%= form_for([current_user.seller, @product], :html => { :multipart => true }) do |f|%>		
		<div class="module_content post_message form_submit">
			<div class="left-col">		
				<label>Name</label>
				<%=f.text_field :name%>
			</div>
			<div class="right-col">				
				<label>Code</label>
				<%=f.text_field :code%>
			</div>
			<div class="left-col">		
				<label>Color</label>
				<%=f.select :color_id, Color.all.map {|x| [x.name, x.id]}%>
			</div>
				<%= f.hidden_field :seller_id%>
			<div class="right-col">				
				<label>Brand</label>
				<%=f.select :brand_id, Brand.all.map {|x| [x.name, x.id]}%>
			</div>
			<div class="left-col">		
				<label>Price</label>
				<%=f.text_field :back_price %>
			</div>
			<div class="right-col">				
				<label>Quantity</label>
				<%=f.text_field :quantity %>
			</div>
			<div class="left-col">				
				<label>Is Sale</label>
				<%=f.select :is_sale, [['Yes',true],['No',false]]%>				
			</div>			
			<div class="right-col">				
				<label>Is Active</label>
				<%=f.select :isactive, [['Yes',true],['No',false]]%>				
			</div>
			<div class="left-col">				
				<label>Description</label>
				<%=f.text_field :description %>
			</div>
			<div class="right-col">	
				<%= f.fields_for :images do |i|%>								
					<label>Image</label>
					<% (1..3).each do |x|%>
					<%=i.file_field :avatar, :multiple => true, name: "product_images[avatar][]"%>	
					<%end%>				
				<% end %>
			</div>
			<div class="left-col">				
				<label>Category</label>
				<%=f.select :category_id, Category.all.map {|x| [x.name, x.id]} %>
			</div>
		</div>
		
		<div class="submit_link">
			<%=f.submit "Create", class:  "submit_btn"%>
		</div>
		
    <% end %>
	
</article>