<ul class="list-group " id="sidebar-nav">
                <!-- Typography -->
    <li class="list-group-item">        
        <span class="main_title">Pant</span>
        <%= form_tag filters_path, method: :get do |f|%>
            <ul>
                <li>Brands</li>   
                <hr style="margin: 2px 0;">     
                <div class="row">
                    <div class="col col-2">
                        <%pant_brands.each do |b|%>
                            <label class="inline-checkbox">
                                <%selected = (params[:brand_ids] && params[:brand_ids].include?(b.id.to_s)) ? true : false%>
                                    <%= check_box_tag "brand_ids[]", b.id, selected%> <%=b.name%> 
                            </label>
                        <% end %>
                    </div>
                </div>
            </ul>
            <ul>
                <li>Fabric Type </li>
                <hr style="margin: 2px 0;">     
                <div class="row">
                    <div class="col col-2">
                        <%pant_fabrics.each do |pf|%>
                            <label class="inline-checkbox">
                                <%selected = (params[:fabric_ids] && params[:fabric_ids].include?(pf.id.to_s)) ? true : false%>
                                    <%= check_box_tag "fabric_ids[]", pf.id, selected%> <%=pf.name%> 
                            </label>
                        <% end %>
                    </div>
                </div>
            </ul>
            <button type="submit" class="btn btn-block rounded btn-u">Filter</button>
        <%end%>
    </li>
    <li class="list-group-item"><span class="main_title">Shirt</span>
        <%= form_tag filters_path, method: :get do |f|%>
            <ul>
                <li>Brands</li>    
                <hr style="margin: 2px 0;">     
                <div class="row">
                    <div class="col col-2">
                        <%shirt_brands.each do |b|%>
                            <label class="inline-checkbox">
                                <%selected = (params[:brand_ids] && params[:brand_ids].include?(b.id.to_s)) ? true : false%>
                                    <%= check_box_tag "brand_ids[]", b.id, selected%> <%=b.name%> 
                            </label>
                        <% end %>
                    </div>
                </div>
            </ul>
            <ul>
                <li>Fabric Type </li>
                <hr style="margin: 2px 0;">     
                <div class="row">
                    <div class="col col-2">
                        <%shirt_fabrics.each do |pf|%>
                            <label class="inline-checkbox">
                                <%selected = (params[:fabric_ids] && params[:fabric_ids].include?(pf.id.to_s)) ? true : false%>
                                    <%= check_box_tag "fabric_ids[]", pf.id, selected%> <%=pf.name%> 
                            </label>
                        <% end %>
                    </div>
                </div>
            </ul>
            <button type="submit" class="btn btn-block rounded btn-u">Filter</button>
        <%end%>
    </li>
</ul>
