<!DOCTYPE html>
<html>
<head>
  <title>Formalchoice</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %> 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>	
	<%if flash[:notice]%>
		<%=flash[:notice]%>
	<% end %>
	<%if flash[:error]%>
		<%=flash[:error]%>
	<% end %>
<%= yield %>

</body>
</html>
